body{
    position: relative;
    line-height: 1.15;
    font-size: 0.5rem;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 0 0 / cover;
    background-color: #101129;
}
body>.title{
  position: absolute;
  font-size: 2rem;
  color: #fff;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
}
*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.viewport {
    /* 限定大小 */
    min-width: 1024px;
    max-width: 1920px;
    min-height: 780px;
    margin: 0 auto;
    background: url(../images/logo.png) no-repeat 0 0 / contain;
    display: flex;
    padding: 3.667rem 0.833rem 0;
}
.column{
    flex: 3;
    position: relative;
}
.column:nth-child(2){
    flex: 4;
    margin: 1.333rem 0.833rem 0;
}
.panel {
    /* 边框 */
    box-sizing: border-box;
    border: 2px solid red;
    border-image: url(../images/border.png) 51 38 21 132;
    border-width: 2.125rem 1.583rem 0.875rem 5.5rem;
    position: relative;
    margin-bottom: 0.833rem;
}
.panel .inner {
    /* 装内容 */
    /* height: 60px; */
    position: absolute;
    top: -2.125rem;
    right: -1.583rem;
    bottom: -0.875rem;
    left: -5.5rem;
    padding: 1rem 1.5rem;
}
.panel h3{
    font-size: 0.833rem;
    color: #fff;
}
/* 概览区域 */
.overview{
    height: 4.583rem;
  }
  .overview .inner{
    display: flex;
    justify-content: center;
  }
  .overview .item{
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("/images/rect.png");
    background-size: 100% 100%;
    margin: 0 1rem;
  }
  .overview .item a{
    color: #fff;
    text-decoration: none;
  }
  .overview .item.active{
    transform: translateY(-10px);
  }
  .overview .item.active a{
    color: #61a8ff;
  }
  .overview .item.active::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-right: .15rem solid transparent;
    border-bottom: .45rem solid #00f2f1;
    border-left: .15rem solid transparent;
  }
  .overview h4{
    font-size: 1.25rem;
    color: #fff;
    margin: 0 .5rem;
  }
  .overview span{
    font-size: 0.667rem;
    color: #4c9bfd;
}
/* 监控 */
.news{
	height: 20rem;
  }
  .news .inner{
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
  }
  .news h3{
    font-size: 0.833rem;
    color: #fff;
    text-align: center;
    margin-bottom: 0.15rem;
  }
  .news .content{
	flex: 1;
	display: none;
	position: relative;
  }
  .news .head{
	background: rgba(255, 255, 255, 0.1);
	font-size: 0.583rem;
	padding: 0.5rem 1.5rem;
	color: #68d8fe;
	display: flex;
	justify-content: space-between;
	line-height: 1.05;
  }
  .news .col:nth-child(1) {
	width: 3.2rem;
  }
  .news .col:nth-child(2) {
	width: 10.4rem;
	/* 不换行  一行省略*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  .news .col:nth-child(3) {
	width: 3.2rem;
  }
  .news .marquee-view{
  position: absolute;
  top: 1.6rem;
  bottom: 0; 
  width: 100%; 
  overflow: hidden;
}

.news .row a{
  color: #61a8ff;
  text-decoration: none;
}
.news .marquee-view{
	position: absolute;
	top: 1.6rem;
	bottom: 0; 
	width: 100%; 
	overflow: hidden;
  }
  
  .news .row{
	line-height: 1.05;
	padding: 0.5rem 1.5rem;
	color: #61a8ff;
	font-size: 0.5rem;
	position: relative; 
	display: flex;
	justify-content: space-between;
  }
  .news .row:hover{
	color:#68d8ff;
	background: rgba(255, 255, 255, 0.1);
  }
  .news .row:hover .icon-dot{
	opacity: 1;
  }
  
  .news .icon-dot{
	position: absolute;
	left: 0.64rem;
	opacity: 0;
}
/* ------------------------------------------------------------动画 */
@keyframes row{
  0%{}
  100%{
    transform: translateY(-50%);
  }
}
/* 调用动画 */
.news .marquee {
  /* //infinite永久调用动画 */
  animation: row  20s linear infinite;
}
/*鼠标划入 停止动画  */
.news .marquee:hover {
  animation-play-state: paused;
}
/* 点位 */
.pies {
  height: 14.167rem;
}
.pies .chart {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.pies .pie {
  width: inherit;
  height: inherit;
  margin-left: -0.4rem;
}
.pies .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7rem;
  padding: 1.5rem 1.25rem;
  box-sizing: border-box;
  background-image: url(../images/rect.png);
  background-size: cover;
}
.pies h4 {
  margin-bottom: 0.5rem;
  font-size: 1.167rem;
  color: #fff;
}
.pies span {
  display: block;
  color: #4c9bfd;
  font-size: 0.667rem;
}
/* 地图  */
.map {
  height: 24.1rem;
  margin-bottom: 0.833rem;
  display: flex;
  flex-direction: column;
}
.map h3 {
  line-height: 1;
  padding: 0.667rem 0;
  margin: 0;
  font-size: 0.833rem;
  color: #fff;
}
.map .icon-cube {
  color: #68d8fe;
}
.map .chart {
  position: relative;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #0A43BB;
}
.map .geo {
  width: 100%;
  height: 100%;
}
.map .btn-group{
  position: absolute;
  font-size: 1rem;
  color: #00f2f1;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(-4px);
}
.map .btn-group a{
  position: relative;
  cursor: pointer;
  border: 1px solid #0A43BB;
  border-radius: 2px;
  padding: 2px 6px;
  transition: all .2s ease-in-out;
  white-space: nowrap;
}
.map .btn-group .active::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 40px;
  background-color: #00f2f1;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
/* 双折线图模块 */
.doubleline {
  height: 14.167rem;
  display: flex;
}
.doubleline .chart {
  width: 100%;
  height: 100%;
  display: flex;
}
.doubleline .line {
  width: inherit;
  height: inherit;
}
/* .doubleline .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7rem;
  padding: 1.5rem 1.25rem;
  box-sizing: border-box;
  background-image: url(../images/rect.png);
  background-size: cover;
} */
/* 销售区域 */
.lines {
  height: 40%;
}
.lines h3 {
  height: 0.75rem;
  padding-right: 0.75rem;
  border-right: 0.083rem solid #00f2f1;
}
.lines a {
  padding: 0.167rem;
  font-size: 0.667rem;
  margin: -0.125rem 0 0 0.875rem;
  border-radius: 0.125rem;
  color: #0bace6;
}
.lines a.active {
  background-color: #4c9bfd;
  color: #fff;
}
.lines .inner {
  display: flex;
  flex-direction: column;
}
.lines .chart {
  flex: 1;
  padding-top: 0.6rem;
  position: relative;
}
.lines .line {
  width: 100%;
  height: 100%;
}
/* 排行榜 */
.lines2 {
  height: 55%;
}
.lines2 .inner {
  display: flex;
}
.lines2 .chart {
  flex: 1;
  padding-top: 0.6rem;
  position: relative;
}
.lines2 .line {
  width: 100%;
  height: 100%;
}
.clock {
  position: absolute;
  top: -1.5rem;
  right: 1.667rem;
  font-size: 0.833rem;
  color: #0bace6;
}
.clock i {
  margin-right: 5px;
  font-size: 0.833rem;
}
@media screen and (max-width: 1600px) {
  .lines2 span {
    transform: scale(0.9);
  }
  .lines2 .province ul.sup li {
    padding: 0.4rem 0.5rem;
  }
  .lines2 .province ul.sub li {
    padding: 0.23rem 0.5rem;
  }
  .quarter span {
    transform: scale(0.9);
  }
}
